body {
    font-family: "Arial", sans-serif;
  }


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  




/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 250px;
  }


.content h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content .Introduction{
    float: left;
    width: 50%;
    min-width: 600px;
}

.content p{
    font-size: 30px;
    margin-left: 10px;
}

.content li{
    margin-bottom:10px;
    margin-left: 20px;
}

.content h4{
    float: left;
    margin-left: 20px;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 150%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    
    div.content {margin-left: 0;}

    div.content {
        margin-left: 10px;
      }
    div.production {
      margin-left: 200px;
      }
  
  }

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


